
@section scripts{
  
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Cliente/Scripts/peliculas.js"></script>
    <script src="~/Cliente/Scripts/ListarControlador.js"></script>   
    <script src="~/Cliente/Scripts/detallesControlador.js"></script>
    <script src="~/Cliente/Scripts/peliculasServicios.js"></script>
    <script src="~/Cliente/Scripts/editControlador.js"></script>
 }

<div ng-app="peliculas">
   <ng-view></ng-view>
    
</div>
