<div ng-controller="listController">
    <table class="table table-bordered table table-striped">
        <tr ng-repeat="p in peliculas">

            <td>{{p.NombrePelicula}}</td>
            <td><a class="btn btn-default" href="#/detalles/{{p.PeliculaId}}">Detalles</a>
                <button class="btn btn-default" ng-click="delete(p)">Eliminar</button>
            
            </td>
        </tr>


    </table>
    <button classs="btn btn-default" ng-click="create()">Crear</button>
    <!--El apóstrofe unico permite reconocer el string como un literal y no como una expresion.-->
    <div ng-include="'/Cliente/Vistas/edit.html'">

    </div>

</div>